@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.otf');
}
/* variables */
$active-text-color: rgba(16,29,32,1);
$inactive-text-color:rgba(16,29,32,0.7);
$accent1: rgb(56,181,156);
$accent2: rgb(56,181,255);
$accent3: rgb(220,85,135);
$background: #FEFEFE;
$mobile-width: 700px;

/* mixins */
@mixin underline($textColor, $lineColor) {
    &:hover {
        color: $textColor;
        &::after{
            -webkit-transform: scaleX(1.0);
                -ms-transform: scaleX(1.0);
                    transform: scaleX(1.0);
        }
    }
    &::after {
        content: ' ';
        display: inline-block;
        position: relative;
        top: 3px; // Align with the bottom of the box
        width: 100%;
        border-bottom: 2px solid $lineColor;
        -webkit-transform: scaleX(0.00001);
            -ms-transform: scaleX(0.00001);
                transform: scaleX(0.00001);
        -webkit-transition: -webkit-transform 175ms ease-in-out;
                transition: transform 175ms ease-in-out;
    }
}

/* globals */
i.icon {
    font-size: 1.5em;
    -webkit-transition: color 175ms ease-in-out;
            transition: color 175ms ease-in-out;
    &:hover {
        color: $accent3
    }
}

a {
    text-decoration: none;
}

