// TODO: import the ion icon font into the webpage (faster hosting?)
/* variables */
$active-text-color: rgb(243,243,243);
$inactive-text-color: rgb(150,150,150);
$accent1: rgb(56,181,156);
$accent2: rgb(56,181,255);
$accent3: rgb(220,85,135);
$background: rgb(31, 37, 50);

/* mixins */
@mixin underline($textColor, $lineColor) {
    &:hover {
        color: $textColor;
        &::after{
            -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                    transform: scaleX(1);
        }
    }
    &::after {
        content: ' ';
        display: inline-block;
        width: 100%;
        border-bottom: 2px solid $lineColor;
        -webkit-transform: scaleX(0.00001);
            -ms-transform: scaleX(0.00001);
                transform: scaleX(0.00001);
        -webkit-transition: -webkit-transform 175ms ease-in-out;
                transition: transform 175ms ease-in-out;
    }
}

/*  all pages  */
body {
    background-color: $background;
    color: $active-text-color;
    padding: 2ch 2ch 0 2ch;
}

footer {
    color: $inactive-text-color;
    font-size: 0.9em;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: block;
}

i.icon {
    font-size: 1.5em;
    -webkit-transition: color 175ms ease-in-out;
            transition: color 175ms ease-in-out;
    &:hover {
        color: $accent3
    }
}

/*  Homepage  */
#logo {
    //TODO: Get a good title font
    font-size: 50px;
    text-align: center;
}

#logo-description {
    text-align: center;
}

#social-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 10px;
    a {
        margin: 0px 0px 5px 0px;
        .icon {
            margin: 0px;
        }
    }
}

#social-homepage {
    text-align: center;
    a {
        margin: 25px;
    }
}

a {
    text-decoration: none;
    color: $active-text-color;
}

[role='navigation'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > * {
        margin: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    a {
        margin: 30px;
        padding: 20px;
        text-align: center;
        width: 13ch;
        &.hover-accent1{
            @include underline(white, $accent1);
        }
        &.hover-accent2{
            @include underline(white, $accent2);
        }
        &.hover-accent3{
            @include underline(white, $accent3);
        }
        li {
            list-style: none;
        }
    }
}
