@import 'mixins_constants';
html {
    -webkit-text-size-adjust: 100%; // disable iphone rotation scaling
}

body {
    background-color: $background;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 5vh 5vw;
    font-size: 1em;
}

#left-pane {
    float: left;
    width: 60%;
    max-width: $mobile-width;
    height: 100%;
    display: inline-block;
}

#logo-description {
    margin-top: 20vh;
    text-align: left;
    line-height: 1.6em;
    color: white;

    span {
        display: inline-block;
    }

    em {
        color: white;
        font-style: normal;
        display: inline-block;
    }

    a {
        @include always-underline($accent-orange, $accent-orange);
    }
}

#social {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    & > a {
        font-size: 0.85em;
        color: $inactive-text-color;
        padding: 10px 10px 50px 10px;
        -webkit-transition: color 175ms ease-in-out;
                transition: color 175ms ease-in-out;

        &:first-child {
            margin-left: -10px;
        }

        &:hover {
            color: $accent-orange;
        }
    }
}
