@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.otf"); }

/* variables */
/* mixins */
/* globals */
i.icon {
  font-size: 1.5em;
  -webkit-transition: color 175ms ease-in-out;
  transition: color 175ms ease-in-out; }
  i.icon:hover {
    color: #ef4835; }

a {
  text-decoration: none;
  color: white; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  background-color: #101420;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 5vh 5vw;
  font-size: 1em; }

#left-pane {
  float: left;
  width: 60%;
  max-width: 70ch;
  height: 100%;
  display: inline-block; }

#logo-description {
  margin-top: 20vh;
  text-align: left;
  line-height: 1.6em;
  color: white; }
  #logo-description span {
    display: inline-block; }
  #logo-description em {
    color: white;
    font-style: normal;
    display: inline-block; }
  #logo-description a {
    padding-bottom: 0.5ch;
    border-bottom: 2px solid #ef4835;
    -webkit-transition: color 175ms ease-in-out;
    transition: color 175ms ease-in-out; }
    #logo-description a:hover {
      color: #ef4835; }

#social {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left; }
  #social > a {
    font-size: 0.85em;
    color: #bdbec0;
    padding: 10px 10px 50px 10px;
    -webkit-transition: color 175ms ease-in-out;
    transition: color 175ms ease-in-out; }
    #social > a:first-child {
      margin-left: -10px; }
    #social > a:hover {
      color: #ef4835; }
