/* HOMEPAGE */
@import 'mixins_constants';
/*  all pages  */
body {
    background-color: $background;
}
h1, h2, h3, p, a {
    color: $inactive-text-color;
}

/* Navigation bar */
nav {
    height: 3em;
    font-size: 1.3em;
    background-color: red;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & > div {
        flex-grow: 0;
        text-align: center;
        align-self: center;
        height: 1.5em;
        &#mid { width: 10vw }
        & > * {
            margin-left: 1.3em;
            margin-right: 1.3em;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
        }
        & > a {
            width: 10ch;
            line-height: 1.0em;
            display: inline-block;
            @include underline(black, white);
        }
    }
}
    