/* HOMEPAGE */
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.otf"); }
/* variables */
/* mixins */
/* globals */
i.icon {
  font-size: 1.5em;
  -webkit-transition: color 175ms ease-in-out;
  transition: color 175ms ease-in-out; }
  i.icon:hover {
    color: #dc5587; }

a {
  text-decoration: none;
  color: white; }

/*  all pages  */
[role='navigation'] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  [role='navigation'] > * {
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px; }
  [role='navigation'] a {
    margin: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 30px;
    text-align: center; }
    [role='navigation'] a.hover-accent1:hover {
      color: white; }
      [role='navigation'] a.hover-accent1:hover::after {
        -webkit-transform: scaleX(1.5);
        -ms-transform: scaleX(1.5);
        transform: scaleX(1.5); }
    [role='navigation'] a.hover-accent1::after {
      content: ' ';
      display: inline-block;
      width: 100%;
      border-bottom: 2px solid #38b59c;
      -webkit-transform: scaleX(0.00001);
      -ms-transform: scaleX(0.00001);
      transform: scaleX(0.00001);
      -webkit-transition: -webkit-transform 175ms ease-in-out;
      transition: transform 175ms ease-in-out; }
    [role='navigation'] a.hover-accent2:hover {
      color: white; }
      [role='navigation'] a.hover-accent2:hover::after {
        -webkit-transform: scaleX(1.5);
        -ms-transform: scaleX(1.5);
        transform: scaleX(1.5); }
    [role='navigation'] a.hover-accent2::after {
      content: ' ';
      display: inline-block;
      width: 100%;
      border-bottom: 2px solid #38b5ff;
      -webkit-transform: scaleX(0.00001);
      -ms-transform: scaleX(0.00001);
      transform: scaleX(0.00001);
      -webkit-transition: -webkit-transform 175ms ease-in-out;
      transition: transform 175ms ease-in-out; }
    [role='navigation'] a.hover-accent3:hover {
      color: white; }
      [role='navigation'] a.hover-accent3:hover::after {
        -webkit-transform: scaleX(1.5);
        -ms-transform: scaleX(1.5);
        transform: scaleX(1.5); }
    [role='navigation'] a.hover-accent3::after {
      content: ' ';
      display: inline-block;
      width: 100%;
      border-bottom: 2px solid #dc5587;
      -webkit-transform: scaleX(0.00001);
      -ms-transform: scaleX(0.00001);
      transform: scaleX(0.00001);
      -webkit-transition: -webkit-transform 175ms ease-in-out;
      transition: transform 175ms ease-in-out; }
    [role='navigation'] a li {
      list-style: none; }

footer {
  color: #a9acb3;
  font-size: 0.9em;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block; }

/*  Homepage  */
body {
  background-color: #1f2532;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 15vh 5vwh 0 5vw; }

#logo {
  font-size: 50px;
  text-align: center; }

#logo-description {
  text-align: center; }

#social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #social > a {
    font-size: 1.2em;
    margin: 10px 30px 10px 30px; }

/*# sourceMappingURL=main.css.map */
