@import 'mixins_constants';
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat';
    color: $active-text-color;
}

[role='navigation'] {
    padding: 20px;
    background-color: darken($background, 10%);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    a {
        color: $inactive-text-color;
        i { padding: 10px; }
    }

    .pull-left a {
        margin: 20px;
        line-height: 30px;
        &:hover{
            color: $active-text-color;
            -webkit-transition: color 175ms ease-in-out;
                    transition: color 175ms ease-in-out;
        }
    }

    #logo {
        margin-left: 0px;
        // stuff
    }

}

#content {
    height: calc(100vh - 69px);
}
#left-panel{
    text-align: center;
    float: left;
    background-color: $background;
    width: 250px;
    height: 100%;
    text-transform: uppercase;
    h2 {
        font-size: 1.0em;
        background-color: darken($background, 10%);
        line-height: 4em;
        font-weight: normal;
        &:first-of-type{
            margin-top: 0px;
            color: $accent1;
        }
        &:nth-of-type(2){
            color: $accent2;
        }
        &:nth-of-type(3) {
            color: $accent3;
        }
    }
    a { color: inherit }
    ul {
        color: $inactive-text-color;
        text-align: left;
        padding-left: 30px;
        list-style: none; 
        text-transform: none;
        li {
            margin-top: 5px;
            line-height: 1.75em;
        }
    }
}
