@font-face{
    font-family:"Delicious-Roman";
    src: url('../fonts/Delicious-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

section {
    margin: 0px;
    margin-left:13.5%;
    margin-right:13.5%;
    padding: 0px;
    padding-top:25px;
    align-content: center;
    align-items: center;
}

.content{
    background-color: #000;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    padding: 0px;
    color: white;
}
.content h1 {
    text-align: center;
    color: #008aff;
    font-family: Ubuntu;
    font-weight: 100;
}
    
.content div{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: justify;
}

i.fa-download{
    color: red;
}

#banner {
}
#titleText{
    font-family: "Delicious-Roman";
    font-size: 1.2em;
    color: #ADADAD;

    display: none;
    position: absolute;
    left:0px;
    bottom:40px;
    padding-right: auto;
    padding-left: auto;
    max-height: 250px;
    min-width: 400px;
    width:33%;
    padding-left: 1.5em;
}

#titleText span{
    color: #33BDff; /* accent colour */
}

div.parallax {
    margin-top: 25px;
    width: 100%;
    height: 300px;
    background-image: url("../img/1410701776508.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-right: none;
    border-left: none;
    margin-left: 0px;
}

div #packery-container {
    margin: 0 auto !important;
    width:290px; /*start smallest, 1 col*/
    display: block;
}



@media (min-width: 750px){/*2 cols*/
    div #packery-container{
        width: 540px;
    }
    
}

@media (min-width: 1080px){ /*3 cols*/
    div #packery-container{
        width: 790px;
    }
    
}


@media (min-width: 1435px){ /*4 cols*/
    div #packery-container{
        width: 1040px;
    }
    
}


/* clearfix */
div #packery-container:after {
  content: ' ';
  display: block;
  clear: both;
}

div.packery-item{
    /*width: -moz-calc(25% - 10px);*/
    width: 250px;
    height: 250px;
    padding: 0px;
    
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

div.packery-item:hover{
    border-color: #008AFF;
}

.expanded{
    padding: 2% !important;
    width: calc(100% - 40px) !important;
    width: -moz-calc(100% - 40px) !important;
    height: 550px !important;
    /* Change this to read element data */
}

.expanded-content{
    display: none;
}

.expanded .expanded-content{
    display: block !important;
}

div.packery-item #caption{
    display: none;
    background-color: rgba(0,0,0,0.9);
    color: white;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 0px;

}


div.expanded:hover #icon{
    opacity: 0;
}

div.expanded #icon{
    display: none !important;
}

div.packery-item #icon{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}